.login-right {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.layout-left-menu {
    height: 100vh;
}

.layout-left-menu ul ul {
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.layout-left-menu ul li:hover ul {
    height: 100%
}


/* 
.layout-left-menu strong {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    min-height: 85px;
}

.layout-left-menu strong span {
    text-transform: capitalize;
    font-weight: 500;
}

.layout-left-menu ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
} */