.login-right {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.layout-left-menu {
    height: 100vh;
}

.layout-left-menu ul ul {
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.layout-left-menu ul li:hover ul {
    height: 100%
}

.ipersonnelComponents .imgBox {
    height: 250px;
}