.login-right {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.layout-left-menu {
    height: 100vh;
}

.layout-left-menu ul ul {
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.layout-left-menu ul li:hover ul {
    height: 100%
}

#personnelComponents .imgBox {
    height: 250px;
}

#personnelComponents p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}