.login-right {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.layout-left-menu {
    border-right: 1px solid #eee;
    height: 100vh;
}

.layout-left-menu strong {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: normal;
}

.layout-left-menu strong span {
    text-transform: capitalize;
    font-weight: 500;
}

.layout-left-menu ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}